/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Spinner for page loading */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/* End Spinner for page loading */

.container {
  padding: 21px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: #fff;
}

.id_card .d-flex {
  margin-bottom: 1em;
}

.id_card_box {
  padding: 2em;
}

.id_card_box .member_type {
  font-size: 0.9em;
  color: #666;
}

.log-entry-form .btn {
  margin-top: 1.5em;
}

.id_card_box .last_accessed {
  font-size: 0.9em;
  color: #666;
}

.id_card_box h1 {
  margin-top: 1em;
  font-size: 1.25em;
}

.id_card_box .qr_code img {
  max-width: 200px;
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ccc;
}

.index-cards .card {
  margin: 1em 1em;
  padding: 1em;
  max-width: 200px;
  min-width: 150px;
}

.index-cards a {
  color: #000;
}

.index-cards .oi {
  color: #69ABA4;
}

#btnSection {
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#closeBtn {
  float: right;
  border: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 3px;
}

/* stops images from showing in one column even on big screen */
/* we need to study more of wp tree structure and better structure our images as well */
.wp-block-gallery ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 100%;
}

.blocks-gallery-item > figure img {
  max-width: 100%;
}
/* This will hide the install button when the user is viewing the app in a pwa */
@media (display-mode: standalone) {
  #btn {
    display: none;
  }
}
.wp_content h3 {
  font-weight: 500;
  margin: 30px -2px 14px -24px;
}

.wp_content ol > li {
  font-size: 22px;
}
.wp_content ul > li {
  font-size: 22px;
}
.wp_content p {
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
    .wp_content ol > li {
      font-size: 19px;
    }
    .wp_content ul > li {
      font-size: 19px;
    }
    .wp_content p {
      font-size: 19px;
    }
    .wp-block-gallery ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;
      width:100%;
    }
}


/* New Open Page  */
.container_img {
  position: relative;
  text-align: center;
  color: white;
}
.container_img .home_hero {
  width: 100%;
}
.centered h2 {
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  color: #3e4040;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.centered {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 539px) {
  .centered h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
  }
 .centered {
    top: 5%;
    position: absolute;

  }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
  .centered h2 {
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
  }
  .centered {
    top: 7%;
  }
}
/* Open Page Styles */

.site-footer {
  display: none;
}
.post_page {
  overflow-y: hidden;
}

body {
  background-color: #FFFFFF;
}

.qrcode {
  width: 98px;
  height: 90px;

  background:
    linear-gradient(to right, black 2px, transparent 2px) 0 0,
    linear-gradient(to right, black 2px, transparent 2px) 0 100%,
    linear-gradient(to left, black 2px, transparent 2px) 100% 0,
    linear-gradient(to left, black 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, black 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, black 2px, transparent 2px) 100% 0,
    linear-gradient(to top, black 2px, transparent 2px) 0 100%,
    linear-gradient(to top, black 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.qrcodem {
  width: 60px;
  height: 50px;

  background:
    linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

@media print {
  html, body {
    height:100vh; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }
}