.mui {
  .group--actions > :last-child {
    display: none
  }

  .group {
    background: white;
    border-left: 2px solid rgb(105, 171, 164);
    border-top: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
  }
}
