<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics - app.doublegdp.com stream -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150647211-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150647211-2');
    </script>

    <title><%= current_community.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json"/>

    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content=#69ABA4"/>
    <meta name="description" content="<%= current_community.name %> app powered by DoubleGDP"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="<%= current_community.name %>">
    <meta name="msapplication-TileColor" content="#69ABA4">
    <meta name="apple-mobile-web-app-title" content="<%= current_community.name %>">
    <meta property="og:title" content="<%= wordpress_post_info(request.path)[:title].presence || 'Post Page' %>" />
    <meta property="og:image" content="<%= wordpress_post_info(request.path)[:image].presence || 'https://i2.wp.com/doublegdp.wpcomstaging.com/wp-content/uploads/2020/08/20200804_162543.jpg?fit=1008%2C756&ssl=1' %>" />
    <meta property="og:description" content="<%= wordpress_post_info(request.path)[:description].presence || 'Visit the doubleGDP app to see exciting and interesting posts on Nkwashi' %>" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-phone-input-2@2.13.8/lib/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/react-awesome-query-builder@3.0.0/lib/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/react-awesome-query-builder@3.0.0/lib/css/compact_styles.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <%= favicon_link_tag current_community.logo_url || asset_path('home_512.png'), rel: 'icon' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'layouts/rollbar_js' if Rails.env.production? %>
  </head>

  <body>
    <div id="root">
    </div>
    <%= javascript_pack_tag 'react_main' %>
      <div class="alert text-center" id="btnSection" role="alert">
        <span id="btn">Click here to add this application to your home screen </span> <span id="closeBtn">close</span>
      </div>

  <noscript>Javascript is not enabled</noscript>

  <script>
    // to bypass the webpacker not finding the service worker, had to install it here
    if (navigator.serviceWorker) {
      navigator.serviceWorker
        .register("/service-worker.js", { scope: "./" })
        .then(function (_reg) {
          console.log("[Companion]", "Service worker registered!!!");
        })
        .catch(function(err) {
          console.log(err)
        })
    }

    const installButton = document.getElementById("btn");
    const closeButton = document.getElementById('closeBtn')
    const btSection = document.getElementById("btnSection")

    // hide the button if the user previously installed the pwa
    // this is important because the prompt will only show once according to google
    window.onload = function() {
      const isInstalled = window.localStorage.getItem('installed');
      // don't display the installer on browsers we know it is not supported
      if (JSON.parse(isInstalled) || isSafari || !isChrome || isSamsungBrowser) {
         btSection.style.display = 'none'
         return
      }
      setTimeout(() => {
        btSection.style.display = 'none'
      }, 10000);
    };

    window.addEventListener("beforeinstallprompt", function (event) {
      event.preventDefault();
      window.promptEvent = event;
    });

    // added the event to just the button instead
    installButton.addEventListener("click", function (event) {
        addToHomeScreen();
    });
    closeButton.addEventListener("click", function (_event) {
      btSection.style.display = 'none'
    })


    function addToHomeScreen() {
      // show the install app prompt
      if (window.promptEvent) {
      window.promptEvent.prompt();
        // handle the Decline/Accept choice of the user
        window.promptEvent.userChoice.then(function (choiceResult) {
          // hide the prompt banner here
          if (choiceResult.outcome === "accepted") {
             ga('send', 'event', 'PWA-installed', 'Accepted');
            window.localStorage.setItem('installed', 'true'); // keep this is the localStorage to access later
          } else {
            ga('send', 'event', 'PWA-rejected', 'User dismissed the A2HS prompt');
          }
          window.promptEvent = null;
        }, function(err){
          ga('send', 'event', 'PWA-Errored', err + '');
        });
      }
      ga('send', 'event', 'PWA-Errored', 'Can\'t install PWA (possibly unsupported browser)');
    }

    // check if browser is safari
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

    // check if browser is chrome or samsung browser using the user-agent and vendor
    // I tested this in Edge(false), IE11(false), Firefox desktop and android(false),
    // Chrome desktop and android(true), samsung mobile
    const isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
    const isSamsungBrowser = /SamsungBrowser/.test(navigator.userAgent)

  </script>
  </body>
</html>
